@using BasicEshop.Models.Entities
@using BasicEshop.Models.Helpers
@model BasicEshop.Models.Forms.ProductFilterForm;
@{
    ViewBag.Title = "Products";
}

<div class="container-fluid product-index">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                @foreach (Product product in ViewBag.Products)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="product-preview">
                            <div class="product-preview-image">
                                <img alt="@product?.Title" src="@product?.FeaturedImage?.FileName"/>
                                @if (product?.IsDiscounted == true)
                                {
                                    <div class="product-preview-discount">
                                        -@((int) ((product.PriceOld - product.Price) / (product.PriceOld / 100)))%
                                    </div>
                                }
                                @if (product?.SpecialTag != null)
                                {
                                    <div class="product-preview-special-tag">
                                        @product.SpecialTag
                                    </div>
                                }
                            </div>
                            <div class="product-preview-info">
                                <h6>@product?.Title</h6>

                                <div class="product-preview-price">
                                    <div class="product-preview-price-current">
                                        $@product?.Price
                                    </div>
                                    @if (product?.IsDiscounted == true)
                                    {
                                        <div class="product-preview-price-old">
                                            $@product?.PriceOld
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.Products.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="@(ViewBag.Products.PageIndex - 1)"
                   class="btn btn-default">
                    Previous
                </a>
            }
            @if (ViewBag.Products.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="@(ViewBag.Products.PageIndex + 1)"
                   class="btn btn-default">
                    Next
                </a>
            }
        </div>
        <div class="col-12 col-lg-3">
            <div class="side-panel">
                <div class="side-panel-block">
                    <h5>Categories</h5>
                    <ul>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <li>
                                <a
                                    asp-action="Index"
                                    asp-all-route-data="@(UrlHelper.SingleSelection(Model, form => form.CategoryId, category?.CategoryId))"
                                    class="@(Model.CategoryId == category?.CategoryId ? "selected" : "")">
                                    @category?.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="side-panel-block">
                    <h5>Vendors</h5>
                    <ul>
                        @foreach (Seller seller in ViewBag.Sellers)
                        {
                            <li>
                                <a
                                    asp-action="Index"
                                    asp-all-route-data="@(UrlHelper.MultiSelection(Model, form => form.SellerIds, seller?.SellerId))"
                                    class="@(UrlHelper.IsSelected(Model.SellerIds, seller?.SellerId) ? "selected" : "")"
                                    >
                                    <span class="custom-checkbox"></span>
                                    @seller?.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function selectSeller(sellerId) {
    document.getElementById('Sellers')
}
</script>